@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kumbh Sans, sans-serif;
  background-color: #CFDBD5;
  height: 534px;
}

h1 {
  text-align: center;
  margin: 1em 0 0 0;
}

button {
  font-family: Kumbh Sans, sans-serif;
  outline: none;
  background-color: #F5CB5C;
  color: #333533;
  border: 2px solid #333533;
  font-weight: 400;
}

main {
  display: inline-flex;
  /* flex-direction: row; */
  width: 60%;
  height: 100%;
  margin: 0;
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6.2%;
  margin: 0 0 0.5em 0;
}

.tabs > button {
  font-size: 1rem;
  flex: 1;
  padding: 0.2em;
}

.tabs .tab:hover {
  background-color: #ebc458;
}

.tabs .tab.active {
  background-color: #ccaa4d;
}

aside {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1em 1em;
  padding-right: 2em;
  width: 30%;
  height: 100%;
  border-right: 1px solid grey;
}

.sidebuttons > button {
  width: 100%;
  font-size: 1.3rem;
  justify-content: center;
  margin: 0.6em 0.2em;
  /* border-radius: 1.5em; */
  padding: 0.5em;
  flex: 1;
}

.panel{
  display: none;
}

.panel.active {
  display: block;
  width: 100%;
  border: 0.2px solid grey;
  overflow-x: hidden;
  overflow-y: auto;
  height: 88%;
}

.sidebuttons .materia{
  margin: 0 0 0 0.2em;
}

.export {
  margin: 0.9em 0;
}

.export > button{
  width: 100%;
  font-size: 1.3rem;
  justify-content: center;
  margin: 0 0 0 0.2em;
  /* border-radius: 1.5em; */
  padding: 0.5em;
  flex: 1;
}

#descripcion {
  height: 10%;
}

.form {
  margin: 0.8em 0;
  outline: none;
  display: none;
}

.form.active {
  display: block;
}

.submit {
  margin: 0.8em 0;
}

.reminder {
  height: 300px;
  font-size: 0.7em;
}

.interact:hover {
  background-color: #ebc458;
}

.interact:active {
  background-color: #ccaa4d;
}