*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #CFDBD5;
  height: 534px;
}

h1 {
  text-align: center;
  margin: 1em 0 0 0;
}

button {
  outline: none;
  background-color: #F5CB5C;
  color: #333533;
  border: 2px solid #333533;
}

main {
  display: inline-flex;
  flex-direction: row;
  width: 63%;
  margin: 0 auto;
}

.tabs {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.tabs > button {
  font-size: 1rem;
  flex: 1;
  padding: 0.2em;
}

aside {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1em 1em;
  padding-right: 2em;
  width: 30%;
  height: 100%;
  border-right: 1px solid grey;
}

.sidebuttons > button {
  width: 100%;
  font-size: 1.3rem;
  justify-content: center;
  margin: 0.6em 0.2em;
  /* border-radius: 1.5em; */
  padding: 0.5em;
  flex: 1;
}

#reminders {
  width: 100%;
  border: 0.2px solid grey;
}

.sidebuttons .materia{
  margin: 0 0 0 0.2em;
}

.export {
  margin: 0.9em 0;
}

.export > button{
  width: 100%;
  font-size: 1.3rem;
  justify-content: center;
  margin: 0 0 0 0.2em;
  /* border-radius: 1.5em; */
  padding: 0.5em;
  flex: 1;
}